*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  height: 100vh;
  background: rgb(32,32,32);
}


/* Calendar */
.calendar{
  width: 430px;
  height: 500px;
  background: white;
  box-shadow: 10px 10px 20px rgba(0,0,0,0.7),
              -10px -10px 20px rgba(0,0,0,0.45);
}
.calendar .month{
  width: 100%;
  height: 20%;
  padding: 20px 30px;
  background: #ff9a8b;
  background-image: linear-gradient(
    90deg,
    #ff9a8b 0%,
    #ff6a88 55%,
    #ff99ac 100%
  );
  justify-content: space-between !important;
  text-align: center;
}
.calendar .month img{
  width: 26px;
  height: 26px;
  cursor: pointer;
  transition: 0.1s;
}
.month img:hover{
  opacity: 0.8;
}
.month h1{
  text-transform: uppercase;
  font-size: 30px;
}
.month p{
  font-weight: 300;
  color: rgba(0,0,0,0.8)
}

.weekdays{
  width: 100%;
  padding: 10px;
  height: 10%;
  padding: 0;
}
.weekdays div{
  width: calc(430px / 7);
  height: 80%;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0 5px;
  transition: 0.2s;
}
.days{
  width: 100%;
  height: 70%;
  flex-wrap: wrap;
  margin: auto;
  padding: 30px 10px;
  padding-top: 0;
}
.days div{
  width: calc(400px / 7);
  height: calc(400px / 7);
  text-align: center;
  font-size: 13.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
}
.days .previous-days,
.days .next-days{
  color: rgba(0,0,0,0.35)
}
.days .today{
  background: #ff6a88;
  cursor: pointer;
  color: white;
  border-radius: 50%;
  transition: 0.2s;
}
.days .today:hover{
  background: #f95c79;
}
.days div:not(.today):hover{
  border-radius: 0;
  border: 0.5px solid black;
  background: rgba(0,0,0,0.25);
  cursor: pointer;
}

.prev,
.next{
  cursor: pointer;
}